name: Deploy Lambda & s3

on:
  push:
    branches:
      - main
    
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 2 # To fetch the current commit and its parent (so we can compare)

    - name: Setup AWS CLI
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-west-1 # Modify this to your desired AWS region

    # - name: Print changed files # To properly debug what is being deployed (It can be removed).
    #   run: |
    #     echo "List of changed files:" 
    #     echo $(git diff --name-only HEAD^ HEAD)
    - name: Deploy Lambda
      run: |
        aws s3 cp index.html s3://tass-musicgeoanalyser/
        zip -r function.zip package.json index.js 
        aws lambda update-function-code --function-name app --zip-file fileb://./function.zip
        rm -rf function.zip